<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
        <div class="post-user-name">
          <img src="<%= "/user_images/#{@user.image_name}" %>">
          <%= link_to @user.name,user_path(@user)%>
        </div>
        <p><%= @post.content %></p>
        <% if @post.user_id == @current_user.id %>
        <p><%= link_to "編集", edit_post_path(@post), method: :get %></p>
        <p><%= link_to "削除", post_path(@post), method: :delete, data:{confirm: "削除しますか？"}%></p>
        <% end %>
  </div>
    <div class="posts_time">
      <p><%= @post.created_at %></p>
    </div>
</div>
